button(class="user-btn w-full" data-idx=0)
    div(class="flex justify-between border-b p-4")
        p(class="user-name") username
        div(class="selected-indicator rounded-full bg-primary my-auto hidden" style="height: 14px; width: 14px")